@import-normalize;
@import 'helper';
* {margin: 0;padding: 0;}
*{box-sizing: border-box}
*::before{box-sizing: border-box}
*::after{box-sizing: border-box}

ul,ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

body {
  margin: 0;
  font-family: $font-hei;
  font-size: 16px;  //默认字体 16px
  line-height: 1.2;  // 默认行高1.2倍
  background: #f5f5f5;
}

//默认的焦点边框去掉样式
:focus {
  outline: none;
}

.icon {
  width: 1em;  //一个字
  height: 1em;
  display: inline-block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.oneLine {// 文字过长，显示一行，多的内容省略号代替
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}